h1,
ul {
    color: #ffffff;
}

h1 {
    text-align: center;
    padding: 100px 10px 300px 10px;
}

h2 {
    color: #ffffff;
}

p {
    color: #E0E0E0;
}

ul li a:hover {
    color: #ffd700;
    text-decoration: underline;
}

ul li a {
    color: hsl(199, 95%, 64%);
    text-decoration: none;
}

.list {
    color: #ffffff;
}

p#id_p1 {
    font-style: italic;
}

span.h1big {
    font-size: 90px;
}

img {
    width: 100%;
    height: auto;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.youtube {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cent {
    text-align: center;
    margin-top: -20px;
}

@media (min-width: 900px) {
    .main {
        margin: 0px 200px 50px 200px;
    }
}

@media (max-width: 899px) {
    .main {
        margin: 0px 50px 50px 50px;
    }
}