body {
    color: #fff;
}

h1 {
    text-align: center;
    padding: 100px 10px 300px 10px;
}

ul li a:hover {
    color: #ffd700;
    text-decoration: underline;
}

ul li a {
    color: hsl(199, 95%, 64%);
    text-decoration: none;
}

p#id_p1 {
    font-style: italic;
}

span.h1big {
    font-size: 90px;
}

@media (min-width: 900px) {
    .main {
        margin: 0px 200px 50px 200px;
    }
}

@media (max-width: 899px) {
    .main {
        margin: 0px 50px 50px 50px;
    }
}